* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: NerkoOne-Regular;
    src: url('./fonts/NerkoOne-Regular.ttf');
}

html, body {
    width: 100%;
    height: 100%;
}

#app {
    background-image: url("./images/site-background.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;

    h1 {
        color: red;
        text-align: center;
        font-family: NerkoOne-Regular, sans-serif;
    }

    #time {
        text-align: center;
        color: red;
    }
}

